<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zuzhi.tianyou">

    <!-- ZuZhi permission start 足智限start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- write permission of sdcard 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- crate/delete permission of sdcard  在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- call phone permission 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- ZuZhi permission end 足智权限end -->


    <!-- amap permission start 高德地图SDK权限start -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- amap permission end 高德地图SDK权限end -->
    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <!-- index 主页 -->
        <activity android:name=".MainActivity" />

        <!-- login activity 登陆页 -->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleInstance" />
        <!-- login guide activity 导航登陆页 -->
        <activity
            android:name=".activity.LoginGuideActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- findpassword activity 找回密码页 -->
        <activity
            android:name=".activity.FindPasswordActivity"
            android:launchMode="singleInstance" />
        <!-- findpassword success activity 找回密码成功页 -->
        <activity android:name=".activity.FindPasswordSuccessActivity" />
        <!-- regist activity 注册页 -->
        <activity
            android:name=".activity.RegistActivity"
            android:launchMode="singleInstance" />
        <!-- select profession activity 选择职业页 -->
        <activity android:name=".activity.SelectProfessionActivity" />

        <!-- amap set start 高德地图SDK配置start -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4e4323088bdd2c2c366cec4067f775d2" />
        <!-- location's service 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!--
         在android4.0以上系统中的 Activity加上下面这句，可以支持地图横竖屏切换
         android:configChanges="orientation|keyboardHidden|screenSize"
                               例如：
         <activity
            android:name=".basic.BasicMapActivity"
            android:label="@string/basic_map"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        -->
        <activity android:name=".activity.MapActivity" />
        <!-- amap set end 高德地图SDK配置end -->


        <!-- search activity 搜索页 -->
        <activity android:name=".activity.SearchHistoryActivity" />

        <!-- class list activity 首页类目列表页 -->
        <activity
            android:name=".activity.IndexClassListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- commodity info activity 商品详情页 -->
        <activity
            android:name=".activity.CommodityInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- class my activity 我的设置 -->
        <activity android:name=".activity.SetActivity" />
        <!-- class my activity 登录手机号 -->
        <activity android:name=".activity.SetCellPhoneNumActivity" />
        <!-- class my activity 个人资料 -->
        <activity android:name=".activity.PersonalDataActivity" />
        <!-- class my activity 意见反馈 -->
        <activity android:name=".activity.OpinionActivity" />
        <!-- company info activity 公司信息 -->
        <activity
            android:name=".activity.CompanyInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- all evaluate activity 全部评价 -->
        <activity android:name=".activity.AllEvaluateActivity" />
        <!-- service class list activity 服务类目列表 -->
        <activity android:name=".activity.ServiceClassListActivity" />
        <!-- my order activity 我的订单页 -->
        <activity
            android:name=".activity.MyOrderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- confirm order activity 确认订单页 -->
        <activity android:name=".activity.ConfirmOrderActivity" />
        <!-- class my activity 付款页面 -->
        <activity android:name=".activity.PayActivity" />
        <!-- check info activity 查看详情页 -->
        <activity android:name=".activity.CheckInfoActivity" />
        <!-- my coupon activity 我的优惠券页 -->
        <activity
            android:name=".activity.MyCouponActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- order info activity 订单详情 -->
        <activity android:name=".activity.OrderInfoActivity" />
        <!-- refund activity 退款页面 -->
        <activity android:name=".activity.RefundActivity" />
        <!-- rating activity 评价页面 -->
        <activity android:name=".activity.RatingActivity" />
        <activity android:name=".activity.CollectionActivity"></activity>
    </application>

</manifest>
